.store {
  display: flex;
  .filter-window {
    flex: 1;
    position: sticky;
    top: 0px;
    align-self: flex-start;
  }
  .sort-product-window {
    flex: 4;
  }
}

.product-window {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 350px;
  gap: 2rem;
}

.sort-product-window {
  h1 {
    padding: 2rem;
    text-align: center;
    text-transform: capitalize;
    background: lightpink;
  }
}

.sort-window {
  margin: 2rem;
  display: flex;
  justify-content: flex-end;
}
