.tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 2px 5px;
  background: pink;
  border-radius: 1rem;
}

.tag p {
  margin: 0 5px;
}

.tag:hover {
  background: plum;
}
