.home {
  height: 100%;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    list-style-type: none;
  }
  .link-earbud {
    flex: 1;
    background: url("../data/images/photo-1570993492903-ba4c3088f100.png");
    background-position: center center;
  }
  .link-headphone {
    flex: 1;
    background: url("../data/images/headphones-3683983__340.jpg");
    background-position: center center;
  }
  .link-speaker {
    flex: 1;
    background: url("../data/images/photo-1580398813894-ec4789b84bf6.png");
    background-position: center center;
  }
  .link {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    li {
      align-self: center;
      color: white;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}
