.navbar {
  padding: 0 2rem;
  background: lightgrey;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  padding: 1rem;
  color: black;
}

.navbar ul .link {
  text-decoration: none;
}

.navbar ul .nav-cart {
  position: relative;
  margin-left: auto;
}

.navbar ul .fa-shopping-cart {
  font-size: 2rem;
}

.navbar ul .cart-badge {
  position: absolute;
  color: white;
  right: 1.5rem;
  top: 1rem;
}

.store-dropdown {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  left: 0;
  z-index: 1;
  background: white;
}
