.navbar {
  padding: 0.5rem 2rem;
  background: lightgrey;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  padding-right: 1rem;
  color: black;
  cursor: default;
}

.navbar ul .link {
  text-decoration: none;
}

.navbar ul .nav-cart {
  position: relative;
  margin-left: auto;
}

.navbar ul .fa-shopping-cart {
  font-size: 2rem;
}

.navbar ul .cart-badge {
  position: absolute;
  color: white;
  top: 0.1rem;
  right: 1.45rem;
}

.store-dropdown {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 10rem;
  left: 0;
  z-index: 1;
  margin-top: 1rem;
  background: white;
}

.store-dropdown .link-earbud {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../data/images/earphone-2639487__340.jpg");
  background-position: center center;
}

.store-dropdown .link-headphone {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../data/images/headphones-690685__340.png");
  background-position: center center;
}

.store-dropdown .link-speaker {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../data/images/speaker-319842__340.png");
  background-position: center center;
}

.store-dropdown .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.store-dropdown .link li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}
