.navbar {
  padding: 0 2rem;
  background: lightgrey;
  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    li {
      padding: 1rem;
      color: black;
    }
    .link {
      text-decoration: none;
    }
    .nav-cart {
      position: relative;
      margin-left: auto;
    }
    .fa-shopping-cart {
      font-size: 2rem;
    }
    .cart-badge {
      position: absolute;
      color: white;
      right: 1.5rem;
      top: 1rem;
    }
  }
}

.store-dropdown {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  left: 0;
  z-index: 1;
  background: white;
}
