.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  padding: 1rem;
  color: black;
}

.navbar ul .link {
  text-decoration: none;
}

.navbar ul .nav-cart {
  position: relative;
  margin-left: auto;
}

.navbar ul .fa-shopping-cart {
  font-size: 2rem;
}

.navbar ul .cart-badge {
  position: absolute;
  background: white;
  right: 0.5rem;
  bottom: 0.5rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
  border-radius: 50%;
  color: black;
  border: 1px solid black;
}

.store-dropdown {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  left: 0;
  z-index: 1;
  background: white;
}
