@import url("https://fonts.googleapis.com/css?family=Metrophobic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Metrophobic", sans-serif;
  height: 100%;
}
#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  .app-bar {
    flex: 0 1 auto;
  }
  .app-main {
    flex: 1 1 auto;
  }
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
